 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1772px; 
	 overflow: hidden;
	 z-index:0;
} 

 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1920px;
	 height: 1772px;
	 z-index:1;
} 

 #verx1 
{ 
	 left: -25px; 
	 top: -1px; 
	 position: absolute; 
	 width: 2002px;
	 height: 92px;
	 z-index:2;
} 

 #AboutusServices 
{ 
	 left: 1084px; 
	 top: 38px; 
	 position: absolute; 
	 width: 346px;
	 height: 13px;
	 z-index:3;
} 

 #fontel
{ 
	 left: 0px; 
	 top: 90px; 
	 position: absolute; 
	 width: 1920px;
	 height: 471px;
	 z-index:4;
} 

 #tel
{ 
	 left: 466px; 
	 top: 125px; 
	 position: absolute; 
	 width: 374px;
	 height: 708px;
	 z-index:5;    
}
.ios 
{ 
	 left: 960px; 
	 top: 100px; 
	 position: absolute; 
	 width: 371px;
	 height: 48px;
	 z-index:7;
	 font-size: 48px; 
	 color: rgb(255, 255, 255);
	 line-height: 1.2; 
	 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); 
	 margin-left: 10px; 
	 margin-top: 138px;
} 

.text
{ 
	 left: 972px; 
	 top: 307px; 
	 position: absolute; 
	 width: 420px;
	 z-index:8;
	 font-family: arial;
	 color: rgb(51, 85, 101);
     line-height: 1.167;
     text-align: justify;
} 

 #button1
{ 
	 left: 970px; 
	 top: 382px; 
	 position: absolute; 
	 width: 173px;
	 height: 43px;
	 z-index:9;
} 

.info1 
{ 
	 left: 1018px; 
	 top: 390px; 
	 position: absolute; 
	 width: 77px;
	 height: 14px;
	 z-index:10;
	 color: white;
} 

 #kryg1 
{ 
	 left: 1391px; 
	 top: 518px; 
	 position: absolute; 
	 width: 13px;
	 height: 13px;
	 z-index:11;
} 

 #kryg2 
{ 
	 left: 1404px; 
	 top: 518px; 
	 position: absolute; 
	 width: 13px;
	 height: 13px;
	 z-index:12;
} 

 #kryg3 
{ 
	 left: 1417px; 
	 top: 518px; 
	 position: absolute; 
	 width: 13px;
	 height: 13px;
	 z-index:13;
} 

 #button2
{ 
	 left: 1214px; 
	 top: 995px; 
	 position: absolute; 
	 width: 130px;
	 height: 33px;
	 z-index:14;
} 

.info2 
{ 
	 left: 1245px; 
	 top: 998px; 
	 position: absolute; 
	 z-index:15;
	 color: white;
} 

.text2
{ 
	 text-align: center;
	 font-size: 15px;
	 left: 1185px; 
	 top: 910px; 
	 position: absolute; 
	 z-index:16;
	 font-family: arial;
     line-height: 1.160;
     width: 210px;
} 

.Heading3 
{ 
	 left: 1220px; 
	 top: 865px; 
	 position: absolute; 
	 color: #3674ba;
	 z-index:17;
	 font-size: 24px;
} 

 #win10 
{ 
	 left: 1218px; 
	 top: 711px; 
	 position: absolute; 
	 width: 123px;
	 height: 123px;
	 z-index:18;
} 

 #button3 
{ 
	 left: 894px; 
	 top: 995px; 
	 position: absolute; 
	 width: 130px;
	 height: 33px;
	 z-index:19;
} 

.info3
{ 
	 left: 925px; 
	 top: 998px; 
	 position: absolute; 
	 z-index:20;
	 color: white;
} 

.text3 
{ 
	 left: 860px; 
	 top: 911px; 
	 position: absolute; 
	 z-index:21;
	 text-align: center;
	 font-size: 15px; 
	 font-family: arial;
     line-height: 1.160;
     width: 210px;
} 

.Heading2 
{ 
	 left: 900px; 
	 top: 865px; 
	 position: absolute; 
	 z-index:22;  
	 color: #3674ba;
	 font-size: 24px;
} 

 #android 
{ 
	 left: 898px; 
	 top: 711px; 
	 position: absolute; 
	 width: 123px;
	 height: 123px;
	 z-index:23;
} 

 #button4 
{ 
	 left: 574px; 
	 top: 990px; 
	 position: absolute; 
	 width: 130px;
	 height: 33px;
	 z-index:24;
} 

.info4
{ 
	 left: 605px; 
	 top: 993px; 
	 position: absolute; 
	 z-index:25;
	 color: white;
} 

.text4
{ 
	 left: 535px; 
	 top: 911px; 
	 position: absolute; 
	 z-index:26;
	 text-align: center;
	 font-size: 15px; 
	 font-family: arial;
     line-height: 1.160;
     width: 210px;
} 

.Heading1 
{ 
	 left: 580px; 
	 top: 865px; 
	 position: absolute; 
	 z-index:27; 
	 color: #3674ba;
	 font-size: 24px;
} 

#apple 
{ 
	 left: 580px; 
	 top: 712px; 
	 position: absolute; 
	 width: 122px;
	 height: 122px;
	 z-index:28;
} 

.OURSERVICES 
{ 
	 left: 805px; 
	 top: 600px; 
	 position: absolute; 
	 font-size: 46px;
	 z-index:29;
	 color: #5B6169;

} 

 #line
{ 
	 left: 563px; 
	 top: 640px; 
	 position: absolute; 
	 width: 225px;
	 height: 1px;
	 z-index:30;
	 background: black;
} 

 #line2 
{ 
	 left: 1133px; 
	 top: 640px; 
	 position: absolute; 
	 width: 225px;
	 height: 1px;
	 z-index:31;
	 background: black;
} 

 #fon2
{ 
	 left: -25px; 
	 top: 1052px; 
	 position: absolute; 
	 width: 1970px;
	 height: 622px;
	 z-index:32;
} 

 #map 
{ 
	 left: 970px; 
	 top: 1215px; 
	 position: absolute; 
	 width: 460px;
	 height: 153px;
	 z-index:33;
} 

 #point
{ 
	 left: 1172px; 
	 top: 1288px; 
	 position: absolute; 
	 width: 17px;
	 height: 25px;
	 z-index:34;
} 

 #name 
{ 
	 left: 968px; 
	 top: 1376px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:35;
} 

 #email 
{ 
	 left: 968px; 
	 top: 1416px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:36;
} 

 #phone 
{ 
	 left: 968px; 
	 top: 1456px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:37;
} 

 #message 
{ 
	 left: 968px; 
	 top: 1496px; 
	 position: absolute; 
	 width: 463px;
	 height: 113px;
	 z-index:38;
} 

 #send 
{ 
	 left: 1336px; 
	 top: 1576px; 
	 position: absolute; 
	 width: 95px;
	 height: 33px;
	 z-index:39;
	 background: #3674ba;
	 color: white;
} 
 #ski1 
{ 
	 left: 488px; 
	 top: 1457px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:45;
} 

 #ski2 
{ 
	 left: 488px; 
	 top: 1497px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:46;
} 

 #ski3 
{ 
	 left: 488px; 
	 top: 1537px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:47;
} 

 #ski4
{ 
	 left: 488px; 
	 top: 1577px; 
	 position: absolute; 
	 width: 463px;
	 height: 33px;
	 z-index:48;
} 

 #ski5
{ 
	 left: 488px; 
	 top: 1457px; 
	 position: absolute; 
	 width: 433px;
	 height: 33px;
	 z-index:49;
} 

 #ski6 
{ 
	 left: 488px; 
	 top: 1497px; 
	 position: absolute; 
	 width: 443px;
	 height: 33px;
	 z-index:50;
} 

 #ski7 
{ 
	 left: 488px; 
	 top: 1537px; 
	 position: absolute; 
	 width: 403px;
	 height: 33px;
	 z-index:51;
} 

 #ski8
{ 
	 left: 488px; 
	 top: 1577px; 
	 position: absolute; 
	 width: 393px;
	 height: 33px;
	 z-index:52;
} 

.HTMLHTML5 
{ 
	 left: 500px; 
	 top: 1460px; 
	 position: absolute; 
	 z-index:53;
	 color: white;
} 

 .CSSCSS3 
{ 
	 left: 499px; 
	 top: 1500px; 
	 position: absolute; 
	 z-index:54;
	 color: white;
} 

 .PhotoshopIlLustrator 
{ 
	 left: 500px; 
	 top: 1540px; 
	 position: absolute; 
	 z-index:55;
	 color: white;
} 

 .MobiledesignResponsi 
{ 
	 left: 500px; 
	 top: 1580px; 
	 position: absolute; 
	 z-index:56;
	 color: white;
} 

 .Skills 
{ 
	 left: 490px; 
	 top: 1424px; 
	 position: absolute; 
	 z-index:57;
	 color: #3674ba;
	 font-size: 24px;
} 

 .Loremipsumdolorsitam_3 
{ 
	 left: 489px; 
	 top: 1245px; 
	 position: absolute; 
	 z-index:58;
	 font-size: 15px; 
	 font-family: arial;
     width: 450px;
     text-align: justify;

} 

 .Testtask 
{ 
	 left: 480px; 
	 top: 1200px; 
	 position: absolute; 
	 z-index:59;
	 font-size: 36px;
     color: rgb(124, 124, 124);
     line-height: 1.2;
     text-align: left;

     

} 

 .About 
{ 
	 left: 900px; 
	 top: 1100px; 
	 position: absolute; 
	 width: 155px;
	 height: 34px;
	 z-index:60;
	 color: #5B6169;
	 font-size: 40px;
} 

 #line3
{ 
	 left: 638px; 
	 top: 1134px; 
	 position: absolute; 
	 width: 225px;
	 height: 1px;
	 z-index:61;
	 background: black;
} 

 #line4 
{ 
	 left: 1057px; 
	 top: 1134px; 
	 position: absolute; 
	 width: 225px;
	 height: 1px;
	 z-index:62;
	 background: black;
} 

.template 
{ 
	 left: 490px; 
     top: 48px;
	 position: absolute; 
	 width: 103px;
	 height: 20px;
	 z-index:64;
     color: white;
     font-family: "Arial";
     text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
     background: linear-gradient(white,white); 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
} 

 .TESTTASK 
{ 
	 left: 490px; 
	 top: 28px; 
	 position: absolute; 
	 width: 103px;
	 height: 17px;
	 z-index:64;
     color: white;
     font-family: "Arial";
     text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
     background: linear-gradient(white,white); 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 

} 

 #Shape1copy4 
{ 
	 left: -25px; 
	 top: 1670px; 
	 position: absolute; 
	 width: 1970px;
	 height: 103px;
	 z-index:65;
} 

 .Copyrightshere 
{ 
	 left: 920px; 
	 top: 1717px; 
	 position: absolute; 
	 z-index:66;
	 color: rgb(111, 111, 111);
	 font-size: 14px;
} 
